*{
background-color:#141718;
color:white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

margin-left: 20px;
margin-right:20px;
}
button{
background-color: rgba(76, 118, 224, 0.696);
border-radius:10px;
padding: 10px 20px; 
border: none;
cursor: pointer;
} 

.navdiv {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* padding: 10px 20px;  */
}

.logo a {
  margin-right: 40px; 
  text-decoration: none;
  font-size: 1.4em; 
}

ul {
  list-style-type: none;
  margin-left: 100px;
  padding: 0;
  display: flex;
}


ul li a {
  margin:3px;
  text-decoration: none;
}



button:hover {
  background-color: rgba(16, 40, 101, 0.995);
}
