*{
    background-color:black;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-right:20px;
}
button{
background-color: rgba(76, 118, 224, 0.696);
border-radius:10px;
padding: 10px 20px; 
border: none;
cursor: pointer;

  
} 



.navdiv {
  display: flex;
  justify-content: space-between;
  align-items: center; /* To vertically center items */
  padding: 10px 20px; /* Padding for inner content */
}

.logo a {
  margin-right: 40px; 
  text-decoration: none; /* Remove underline */
  font-size: 1.4em; /* Adjust font size as needed */
}

ul {
  list-style-type: none; /* Remove bullet points */
  margin-left: 100px;
  padding: 0;
  display: flex;
}


ul li a {
  margin:3px;
  text-decoration: none; /* Remove underline */
}



button:hover {
  background-color: rgba(61, 113, 243, 0.696); /* Button background color on hover */
}
